<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="RegressionSuite" verbose="1" parallel="classes" thread-count="1">
    <parameter name="runMode" value="grid"/>
    <listeners>
        <listener class-name="com.nhantran.listeners.TestListener"></listener>
    </listeners>
    <test name="Testing">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.nhantran.chapter10.LoginTest"/>
            <class name="com.nhantran.chapter10.LogoutTest"/>
            <class name="com.nhantran.chapter10.CreateAccountTest"/>
            <class name="com.nhantran.chapter10.ResetPasswordTest"/>
            <class name="com.nhantran.chapter10.BookTicketTest"/>
            <class name="com.nhantran.chapter10.CancelTicketTest"/>
            <class name="com.nhantran.chapter10.E2ETest"/>
        </classes>
    </test>
</suite>
